<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Cab book template">
		<meta name="keywords" content="HTML,CSS,JavaScript">
		<meta name="author" content="Taruunnn">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/customStyle.css">
		<link rel="stylesheet" href="/static/css/responsive.css">
		<script src="https://kit.fontawesome.com/6e6e5e1f4c.js"></script>
		<title>Driverly-Driver Hire Services </title>
	</head>
	<body>
		
		
		<header>
			{{>navbar  data=details}}
			<div class="carousel-bg">
				<div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-sm-6">
									<div class="margin-top">
										<h6 class="header-span">REACH YOUR <b>DESTINATION</b> </h6>
										<h1 class="header-larg-text">LET'S<span class="header-cricle animated">go</span></h1>
										<h3 class="header-heading">SIMPLIFY<b> CAR OWNERSHIP</b></h3>
										
										<span class="headedr-span-sec"> Hire verified, professional drivers for hassle-free commutes, running errands and safe after-party drops on hourly basis</span>
										<div class="row">
											<div class="col-sm-6">
												<a href="/Book" method="get"><button type="button" class="custom-btn btn btn-light">BOOK NOW</button></a>
											</div>
										</div>
									</div>
									
								</div>
								<div class="col-sm-6">
									<img src="/static/img/slider1.svg" class="d-block w-100" alt="...">
								</div>
							</div>
							
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-6">
									<h6 class="header-span">Hire<b> Captain</b> </h6>
									<h1 class="header-larg-text">On RI<span class="header-cricle animated">de</span></h1>
									<h3 class="header-heading">Basis In<b> Indore</b></h3>
									
									<span class="headedr-span-sec"> Captain is a car driver. Which is available to drive cars for personal or businesses 24/7. You can book a captain for outstation or incity rides. Its easy to book a captain just select your locations, time and vehicle.</span>
									<div class="row">
										<div class="col-sm-6">
										<a href="/Book" method="get"><button type="button" class="custom-btn btn btn-light">BOOK NOW</button></a>
										</div>
									</div>
									
								</div>
								<div class="col-sm-6">
									<img src="/static/img/slider2.svg" class="d-block w-100" alt="...">
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-6">
									<h6 class="header-span">Hire Driver For  <b>Heavy</b> </h6>
									<h1 class="header-larg-text">VEHIC<span class="header-cricle animated"> LE</span></h1>
									<h3 class="header-heading"> School <b>Bus</b> and <b>Truck</b></h3>
									
									<span class="headedr-span-sec"> Drivers are available to drive heavy vehicles like school buses and trucks. They are available on monthly basis. They are trained and verified professional and can be tracked any time on the rides.</span>
									<div class="row">
										<div class="col-sm-6">
											<a href="/Book" method="get"><button type="button" class="custom-btn btn btn-light">BOOK NOW</button></a>
										</div>
									</div>
									
								</div>
								<div class="col-sm-6">
									<img src="/static/img/slider2.svg" class="d-block w-100" alt="...">
								</div>
							</div>
						</div>
					</div>
					
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</header>
<main>

<!-- How it works-->
<section class="padding180" id="our-vehicle">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="short-intro">
					<h4 class="bookcab-heading"> HOW  <small> IT WORKS</small>
					<br> <span> DRIVERLY</span>
					</h4>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/car.png" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Select Vehicle & Time</h5>
						<p>Customer need to select vehicle and their type with pick-up date and time to get best estimation.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/placeholder.png" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Location & Ride Type</h5>
						<p>Customer need to select location and ride type whether its for Incity or Outstation, One-Way or Round-Trip.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/candidate.png" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Book & Get Your Drive</h5>
						<p>We drive you at your destination. Our app informs you of traffic and the route map to your destination.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/payment-method.png" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Receive invoice & pay</h5>
						<p>At the end of your ride, proceed to make a cashless payment using UPI or you can pay in cash.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- our pricing-->
	<section class="our-pricing padding180 " id="our-pricing">
		<div class="container">
			<div class="row">
				<div class="short-intro" style="MARGIN-LEFT: 20PX;">
					<h4 class="bookcab-heading yellow"> quality <small style="color: #fff"> and trust</small>
					<br> <span> why hire team driverly?</span>
					</h4>
				</div>
				<div class="row text-center align-items-end">
					
					<div class="row">
						<div class="col-md-3">
							<div class="card" style="">
								<img src="/static/img/check-mark.png" class="card-img custom-img" alt="...">
								<div class="card-body">
									<h5 class="card-title">Hassle Free Booking</h5>
									<p>Book driver online in indore to anywhere in India.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card" style="">
								<img src="/static/img/like.png" class="card-img custom-img" alt="...">
								<div class="card-body">
									<h5 class="card-title">Transparent Pricing</h5>
									<p>No hidden charges, enjoy the most affordable rates.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card" style="">
								<img src="/static/img/track.png" class="card-img custom-img" alt="...">
								<div class="card-body">
									<h5 class="card-title">Real Time Tracking</h5>
									<p>Track your driver movement across the indore.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card" style="">
								<img src="/static/img/badge.png" class="card-img custom-img" alt="...">
								<div class="card-body">
									<h5 class="card-title">Safe & Reliable Team</h5>
									<p>Superior safety ensured by our professional partners.</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
	</div>
	
</div>
</div>
</section>
<!-- testmonials-->
<section class="bookcab" id="Feedback">
<div class="container container-shadow">
<div class="row">
	<div class="col-md-5 padding-custom bg-white">
		<div class="short-intro">
			<h4 class="bookcab-heading"> PASSENGER  <small> FEED</small></h4>
			<br> <span>WHAT OUR PASSENGERS SAY</span>
			<p style="    margin-top: 46px;">Hire a Car driver for vehicles. Driverly driver rental options are getting extremely popular in India Driverly provide driver for car, van, school bus and truck. </p>
			
			<div class="buttons">
				<a type="button" class="btn btn-warning btn-cus" href="#contact">CONTACT US</a>  <a type="button" class="btn btn-light btn-cus" href="#contact">ABOUT US</a>
			</div>
		</div>
	</div>
	<div class="col-md-7 padding-custom">
		<section class="text-center my-5">
			
			<div class="wrapper-carousel-fix">
				
				<div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
					data-interval="false">
					
					<div class="carousel-inner" role="listbox">
						
						<div class="carousel-item active">
							<div class="testimonial">
								
								<div class="avatar mx-auto mb-4">
									<img src="/static/img/card-img/driver1.svg" width="80px" height="80px" class="rounded-circle ">
								</div>
								
								<p>
									<i class="fas fa-quote-left"></i>"I am happy, i can get driver services at my location, its easy to hire, hassle free payment and getting professional chauffeur services from months."
								</p>
								<h4 >CDGI</h4>
								<h6 >PASSENGER </h6>
								
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="testimonial">
								
								<div class="avatar mx-auto mb-4">
									<img src="/static/img/card-img/driver1.svg" width="80px" height="80px" class="rounded-circle ">
								</div>
								
								<p>
									<i class="fas fa-quote-left"></i> " Our experience with driverly services is really nice, we are using valet and chauffeur services for my hotel chain and i can say in one word fantastic :)"


								</p>
								<h4 class="">CDGi</h4>
								<h6 class="font-weight-bold my-3">PASSENGER </h6>
								
							</div>
						</div>
						
					</div>
					
					<a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button"
						data-slide="prev">
						<span class="icon-prev" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button"
						data-slide="next">
						<span class="icon-next" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					
				</div>
				
			</section>
			
		</div>
	</div>
</div>
</section>
</main>
<!--footer section-->
<footer class="footer-padding180 footer" id="contact">
<div class="container">
<div class="row">
	<div class="col-md-3">
		<div class="short-intro" style="margin: 65px 0px 0px 0px;">
			<h4 class="bookcab-heading yellow"> contact <small> </small>
			</h4>
			<address>
				<strong>HEAD OFFICE</strong>
				<p>11 Street No, Indore <br> Near Gopur sector D </p>
				<ul class="contact-info">
					<li><i class="fa fa-headphones"></i> (99) 999 - 888 - 12 </li>
					<li><i class="fa fa-print"></i> 123-456-7890 </li>
					<li><i class="fa fa-envelope"></i> <a href="mailTo:support@demo.com">suraj@demo.com</a> </li>
					<li><i class="fa fa-briefcase "></i> <a href="mailTo:career@demo.com">utsav@demo.com</a> </li>
				</ul>
			</address>
			
			<ul class="social-icon" style="">
				<li><a href="" class="fab fa-facebook-square"></a></li>
				<li><a href="" class="fab fa-twitter-square"></a></li>
				<li><a href="" class="fab fa-youtube-square"></a></li>
				<li><a href="" class="fab fa-pinterest-square"></a></li>
			</ul>
			
			<p class="copyright">© 2023 <i>'Driverly'</i> All Rights Reserved</p>
			
		</div>
		</h4>
	</div>
	<div class="col-md-5 msg-form footer-padding">
		<h3 class="toll-free">
		TOLL-FREE (11) 222 - 333 -44
		</h3>
		<small>IF YOU HAVE A QUESTION ? FILL THE FORM</small>
		<div class="col-md-12" style="margin-top: 41px">
			<form  action="/contactus" method="post">
				<div class="form-group">
					
					<input type="text" name="name"class="form-control" id="exampleFormControlInput1" placeholder="Name">
				</div>
				<div class="form-group">
					
					<input type="email" name="email"class="form-control" id="exampleFormControlInput1" placeholder="Email">
				</div>
				<div class="form-group">
					
					<textarea class="form-control"name="message" id="exampleFormControlTextarea1" rows="3" placeholder="Your msg"></textarea>
				</div>
				<div class="col-md-12">
			<button type="submit" class="btn btn-warning ">Send Msg</button>
		</div>
			</form>
		</div>
		
	</div>
	<div class="col-md-4 no-padding map-container">
		<div class="google-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14239.643373683472!2d75.84177455!3d26.842787899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1567486395070!5m2!1sen!2sin" width="600" height="60%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
	</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>