<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/services.css">
    <link rel="stylesheet" href="/static/css/customStyle.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
    <header>
        {{>navbar  data=details}}
    </header>

    <!-- our vehicle-->
<section class="padding180" id="our-vehicle">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="short-intro">
					<h4 class="bookcab-heading"> OUR  <small>SERVICES</small>
					<br> <span> DRIVERLY</span>
					</h4>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/card-img/car1.svg" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Hire Parmanent Drivers</h5>
						
						<p>Drivers are available for personal vehicles on monthly basis. They are fully verified and professionals.</p>
					</div>
				</div>
			</div>
            
			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/card-img/car2.svg" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Casual Purpose Drivers</h5>
						
						<p>Drivers are available for personal vehicles on casual basis. These drivers are well verse with automatic and manual cars. </p>
					</div>
				</div>
			</div>


			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/card-img/bike.svg" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Commercial Vehicle Drivers</h5>
						
						<p> Hire experienced goods vehicle driving services, truck, lorry, trailer drivers in your locality. The drivers are well versed with driving day & night on highways. </p>
					</div>
				</div>
			</div>


			<div class="col-md-3">
				<div class="card" style="">
					<img src="/static/img/card-img/jip.svg" class="card-img custom-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Outstation Basis Drivers</h5>
						
						<p>You planned an outstation trip with your family or friends? well then you can avail drivers on hire service for outstation trip.</p>
					</div>   
				</div>
			</div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="">
                        <img src="/static/img/card-img/car1.svg" class="card-img custom-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> Vehicle Washing Services</h5>
                            
                            <p>Pressure wash, eco wash & daily wash by trained executives equipped with high-grade machines and materials.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card" style="">
                        <img src="/static/img/card-img/car2.svg" class="card-img custom-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Car Maintanace & Care</h5>
                            
                            <p>For car care and maintenace we have partnered with India's best car servicing partners to fix your car. </p>
                        </div>
                    </div>
                </div>
    
    
                <div class="col-md-3">
                    <div class="card" style="">
                        <img src="/static/img/card-img/bike.svg" class="card-img custom-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Valet Services</h5>
                            
                            <p>If you are an event company or have an event in your family then you can utilize valet drivers on hire ‚these drivers are well verse with automatic and manual cars.</p>
                        </div>
                    </div>
                </div>
    
    
                <div class="col-md-3">
                    <div class="card" style="">
                        <img src="/static/img/card-img/jip.svg" class="card-img custom-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Car Maintenance & Care</h5>
                            
                            <p>For car care and maintenace we have partnered with India's best car servicing partners to fix your car.</p>
                        </div>   
                    </div>
                </div>
            
		</div>
	</section>

</body>
</html>